<img src="./Img/Label_02.png">

# Зачет

28 мая 2021 года <br>
ПИ19-3, ПИ19-4 - 3 подгруппа<br>

5 июня 2021 года <br>
ПИ19-2, ПИ19-3, ПИ19-4 - 2 подгруппа<br>

4 июня 2021 года <br>
ПИ19-4, ПИ19-5 - 4 подгруппа

In [ ]:
#1

"""
Напишите запрос для получения списка имен, фамилий, названий городов студентов
и названий университетов, расположенных в городе, где живет студент
"""

In [ ]:
#2

"""
Напишите запрос для получения списка фамилий студентов 
с полученными ими оценками и названиями предметов. 
Отсортируйте результат по фамилии студента.
"""

In [ ]:
#3

"""
Напишите запрос для получения списка названий университетов 
с указанием количества студентов, обучающихся на каждом курсе.
Отсортируйте результат по названию университета.
"""

In [ ]:
#4

"""
Напишите запрос для получения списка имен преподавателей 
с указанием их учебных предметов.
Фамилию и имя преподавателя вывести в одном столбце.
Упорядочить результат по фамилии и имени преподавателя.
"""

In [ ]:
# 5

"""
Напишите запрос для получения списка имен и фамилий преподавателей 
с указанием нагрузки (суммарного количества часов) 
на третьем курсе. Имя и фамилию преподавателя напечатайте в одном столбце.
"""

In [ ]:
#6

"""
Напишите запрос для получения списка названий университетов вместе с
названиями преподаваемых в них предметов.
"""

In [ ]:
#7

"""
Напишите запрос для получения списка университетов с указанием
суммарного количества аудиторных часов в каждом семестре.
"""

In [ ]:
#8

"""
Напишите запрос для получения списка университетов с указанием 
суммарного количества часов, отводимых на изучение каждого предмета.
"""

In [ ]:
#9

"""
Напишите запрос для получения списка преподавателей с указанием 
количества часов, отведенных для обучения каждому из предметов.
Фамилияю и имя преподавателя отобразите в одном столбце результата.
Результат упорядочите по фамилии преподавателя.
"""

In [ ]:
#10

"""
Напишите запрос для сортировки списка университетов по значениям 
максимальной стипендии, выплачиваемой студентам
"""

In [ ]:
#11

"""
Напишите запрос для получения списка университетов 
вместе с фамилиями самых молодых студентов, обучаемых в них.
Результат должен содержать: название университета, фамилия, имя, день рождения.
"""

In [ ]:
#12

"""
Напишите запрос для получения списка университетов вместе с фамилиями студентов, 
получающих максимальную для каждого университета стипендию
"""

In [ ]:
#13

"""
Напишите запрос для получения списка студентов вместе с названиями предметов 
и оценками, полученными по каждому предмету на экзаменах
"""

In [ ]:
#14

"""
Напишите запрос, выполняющий вывод имен и фамилий студентов, 
получивших хотя бы одну отличную оценку.
"""

In [ ]:
#15

"""
Напишите запрос, выполняющий вывод данных о предметах обучения, 
которые преподает Сафонова
"""

In [ ]:
#16

"""
Напишите запрос, который выполняет выборку фамилий ВСЕХ студентов, 
с указанием для студентов, сдававших экзамены, идентификаторов сданных ими предметов обучения.
"""

In [ ]:
#17

"""
Напишите запрос, выводящий название университета и количество 
обучающихся в нем студентов, с последующей сортировкой списка 
по этому количеству.
"""

## Генератор задач

In [ ]:
import pandas as pd
import random

students = pd.read_csv("П3.txt",sep='\t',names=['Name'], index_col=0 )
vars_ORM = random.sample(range(1,18), 15)
vars_ORM.extend(random.sample(range(1,18), 10))
vars_Core = random.sample(range(1,18), 15)
vars_Core.extend(random.sample(range(1,18), 10))
students['ORM']=vars_ORM
students['Core']=vars_Core
students

## Задание

Решите задачи, номера которых указаны напротив вашего имени в таблице. Используйте методы SQLAlchemy ORM для задачи в столбце ORM и SQLAlchemy Core для задачи в столбце Core.