<PRE>
Федеральное государственное образовательное бюджетное учреждение высшего образования
           Финансовый университет при Правительстве Российской Федерации
                             (Финансовый университет)

                Департамент анализа данных и машинного обучения

              Дисциплина «Программирование на языках Python и SQL»
</Pre>

12 февраля 2021 года<br>
ПИ19-3, ПИ19-4 - 3 подгруппа

13 февраля 2021 года<br>
ПИ19-2, ПИ19-3, ПИ19-4 - 2 подгруппа

19 февраля 2021 года<br>
ПИ19-4, ПИ19-5 - 4 подгруппа

<a href="./Doc/SQL(упражнение №1).pdf">Учебное пособие. Глава 1. Основные понятия и определения</a>

<a href="./Doc/SQL(упражнение №2).pdf">Учебное пособие. Глава 2. Выборка данных (оператор SELECT)</a>

# 1. Основные понятия и определения

## 1.1. Основные понятия реляционных баз данных

Основой современных систем, использующих базы данных, является реляционная модель данных. В этой модели данные, представляющие информацию опредметно йобласти, организованы в видедвумерных таблиц, называемых отношениями.

<img src="./Img/img_01.png">

- Термины отношение и таблица обычно употребляются как синонимы. Верхняя строка таблицы-отношения называется заголовком
- Строки таблицы-отношения называются кортежами или записями. Столбцы называются атрибутами. Термины–атрибут, столбец, колонка, поле обычно используются как синонимы. Каждый атрибут имеет имя, которое должно быть уникальным в конкретной таблице-отношении, однако в разных таблицах имена атрибутов могут совпадать
- Количество кортежей в таблице-отношении называется кардинальным числом отношения, а количество атрибутов называется степенью отношения
- Ключ или первичный ключ отношения–это уникальный идентификатор строк (кортежей), то есть такой атрибут (набор атрибутов), для которого в любой момент времени вотношении не существует строк с одинаковыми значениями этого атрибута (набора атрибутов). На приведенном рисунке таблицы ячейка с именем ключевого атрибута имеет нижнюю границу в видед войной черты
- Домен отношения – это совокупность значений, из которых могут выбираться значения конкретного атрибута

Отношения реляционной базы данных обладают следующими свойствами:
- в отношениях не должно быть кортежей-дубликатов;
- кортежи отношений неупорядочены.
- атрибуты отношений также неупорядочены.

## 1.2. Отличие SQL от процедурных языков программирования

Язык SQL относится к классу непроцедурных языков программирования. В отличие от универсальных процедурных языков, которые также могут быть использованы для работы с базами данных, язык SQL ориентирован не на записи, а на множества.

## 1.3. Интерактивный и встроенный SQL

Существуют и используются дв еформы языка SQL: интерактивный SQL и встроенный SQL.  Интерактивный SQL используется для непосредственного ввода SQL-запросов пользователем и получения результата в интерактивном режиме.  Встроенный SQL состоит из команд SQL, встроенных внутрь программ, которые обычно написаны нанекотором другом языке (Паскаль, С, С++ и др.) На данном занятии используется интерактивный SQL.

## 1.4. Составные части SQL

- Язык Определения Данных– DDL (Data Definition Language), дает возможность создания, изменения и удаления различных объектов базы данных (таблиц, индексов, пользователей, привилегий и т. д.).
- Язык Обработки Данных– DML (Data Manipulation Language), предоставляет возможность выборки информации из базы данных и ее преобразования.

Тем не менее, это не два различных языка, а компоненты единого SQL.

## 1.5. Типы данных SQL

В языке SQL имеются средства, позволяющие для каждого атрибут ауказывать типданных, которому должны соответствовать всезначения этого атрибута.

<a href="./Doc/SQL(упражнение №1).pdf">Более подробно о типах данных в учебном пособии</a>

## 1.6. Используемые термины и обозначения

Ключевые слова–это используемые в выражениях SQL слова, имеющие специальное назначение (например, они могут обозначать конкретные команды SQL). Ключевые слова нельзя использовать для других целей, к примеру, в качестве имен объектов базы данных. В книге они выделяются шрифтом: КЛЮЧЕВОЕСЛОВО. Команды, или предложения, являются инструкциями, с помощью которых SQL обращается к базе данных. Команды состоят из одной или более логических частей, называемых предложениями. Предложения начинаются ключевым словом и состоят из ключевых слов и аргументов. 

Объекты базы данных, имеющие имена (таблицы, атрибуты и др.), в книге также выделяются особым образом: `ТАБЛИЦА1, АТРИБУТ_2`.

В описании синтаксиса команд SQL оператор определения “::=” разделяет определяемый элемент (слева от оператора) и собственно его определение (справа от оператора); квадратные скобки “[ ]” указывают необязательный элемент синтаксической конструкции; многоточие “...” указывает, что выражение, предшествующее ему, может повторяться любое число раз; фигурные скобки “{ }” объединяют последовательность элементов в логическую группу, один из элементов которой должен быть обязательно использован; вертикальная черта “|” указывает, что часть определения, следующая за этим символом, является одним из возможных вариантов; в угловые скобки “< >” заключаются элементы, которые объясняются по мере того, как вводятся.

## 1.7. Учебная база данных

<img src="./Img/img_02.png">

<img src="./Img/img_03.png">

<img src="./Img/img_04.png">

<img src="./Img/img_05.png">

<img src="./Img/img_06.png">

<img src="./Img/img_07.png">

ВОПРОСЫ
1. Какие поля приведенных таблиц являются первичными ключами? 
2. Какие данные хранятся в столбце 2 в таблице “Предмет обучения”?
3. Как по-другому называется строка? Столбец? 
4. Почему мы не можем запросить для просмотра первые пять строк?

# 2. Выборка данных (оператор SELECT)

## 2.1. Простейшие SELECT-запросы

Оператор SELECT (ВЫБРАТЬ) языка SQL является самым важным и самым часто используемым оператором.

`SELECT [DISTINCT] <список атрибутов>
    FROM <список таблиц> 
    [WHERE <условие выборки>]
    [ORDER BY <список атрибутов>]
    [GROUP BY <список атрибутов>]
    [HAVING <условие>]  
    [UNION <выражение с оператором SELECT>]`

Обязательным ключевым словом в предложении-запросе SELECT является слово FROM (ИЗ). За ключевым словом FROM указывается список разделенных запятыми имен таблиц.

Пример:<br>
`SELECT NAME, SURNAME 
    FROM STUDENT;`

<img src="./Img/img_08.png">

Получаемые в результате SQL-запроса таблицы не вполной мере отвечают определению реляционного отношения. В частности, в них могут оказаться кортежи с одинаковыми значениями атрибутов. Для исключения из результата SELECT-запроса повторяющихся записей используется ключевое слово DISTINCT (ОТЛИЧНЫЙ).

Использование в операторе SELECT предложения, определяемого ключевым словом WHERE (ГДЕ), позволяет задавать выражение условия(предикат), принимающее значение истина или ложь для значений полей строк таблиц, к которым обращается оператор SELECT. Предложение WHERE определяет, какие строки указанных таблиц должны быть выбраны.

Пример.<br>
`SELECT SURNAME,  NAME 
    FROM STUDENT
    WHERE SURNAME = ‘Петров’;`

<img src="./Img/img_09.png">

В задаваемых в предложении WHERE условиях могут использоваться операции сравнения, определяемые следующими операторами: = (равно), >(больше), < (меньше), >= (больше или равно), <= (меньше или равно), <> (не равно), а также логические операторы AND, OR и NOT.

Контрольная работа<br>
1. Напишите запрос для вывода идентификатора (номера) предмета обучения, его наименования, семестра, в котором он читается, и количества отводимых на него часов для всех строк таблицы SUBJECT. 

2. Напишите запрос, позволяющий вывести все строки таблицы EXAM_MARKS, в которых предмет обучения имеет номер (SUBJ_ID), равный 12.  
3. Напишите запрос, выбирающий все данные из таблицы STUDENT, расположив столбцы таблицы в следующе мпорядке: KURS, SURNAME, NAME, STIPEND. 
4. Напишите запрос SELECT,  который выполняет вывод наименований предметов обучения (SUBJ_NAME) и следом за ним количества часов(HOUR) для каждого предмета обучения (SUBJECT) в 4-мсеместре (SEMESTR). 
5. Напишите запрос, позволяющий получить из таблицы EXAM_MARKS значения столбца MARK (экзаменационная оценка) для всех студентов, исключив из списка повторение одинаковы хстрок. 
6. Напишите запрос, который выполняет вывод списка фамилий студентов, обучающихся на третьем и более старших курсах. 
7. Напишите  запрос, выбирающий данные о фамилии, имении, номере курса для студентов, получающих стипендию больше 140. 
8. Напишите запрос, выполняющий выборку из таблицы SUBJECT названий всех предметов обучения, на которые отводится более 30 часов.
9. Напишите запрос, который выполняет вывод списк ауниверситетов, рейтинг которых превышает 300 баллов. 
10. Напишите запрос к таблице STUDENT длявывода списка фамилий (SURNAME), имен (NAME) иномера курса (KURS) всех студентов со стипендией большей или равной 100, и живущих в Воронеже.

## 2.2. Операторы IN, BETWEEN, LIKE, IS NULL

Операторы IN (РАВЕН ЛЮБОМУ ИЗ СПИСКА) и NOT IN (НЕ РАВЕН НИ ОДНОМУ ИЗ СПИСКА) используются для сравнения проверяемого значения поля с заданным списком. Этот список значений указывается в скобках справа от оператора IN.

Оператор LIKE применим только к символьным полям типа CHAR или VARCHAR. Этот оператор осуществляет просмотр строковых значений полей с целью определения, входит ли заданная в операторе LIKE подстрока (образец поиска) в символьную строку, являющуюся
значением проверяемого поля.

можно применять шаблон искомого образца строки, использующий следующие символы:
• символ подчеркивания “_”, указанный в шаблоне образца, определяет возможность наличия в указанном месте одного любого символа,
• символ “%” допускает присутствие в указанном месте проверяемой строки последовательности любых символов произвольной длины.

Пример.
Написать запрос, выбирающий из таблицы STUDENT сведения о студентах, у которых фамилии начинаются на букву “Р”.
```
SELECT *
FROM STUDENT
WHERE SURNAME LIKE ‘Р%’;
```

<PRE>
Федеральное государственное образовательное бюджетное учреждение высшего образования
           Финансовый университет при Правительстве Российской Федерации
                             (Финансовый университет)

                 Департамент анализа данных и машинного обучения

               Дисциплина «Программирование на языках Python и SQL»
</Pre>

5 марта 2021 года<br>
ПИ19-4, ПИ19-5 - 4 подгруппа

5 марта 2021 года<br>
ПИ19-3, ПИ19-4 - 3 подгруппа

6 марта 2021 года<br>
ПИ19-2, ПИ19-3, ПИ19-4 - 2 подгруппа

Источники

<a href="./Doc/SQL(упражнение №3).pdf">Учебное пособие. 2.3. Преобразование вывода и встроенные функции</a>

<a href="./Doc/SQL(упражнение №4).pdf">Учебное пособие. 2.4. Агрегирование и групповые функции</a>

<a href="https://www.sqltutorial.org/sql-math-functions/">SQL Functions</a>

### Контрольная работа
1. Составьте запрос для таблицы STUDENT таким образом, чтобы выходная таблица содержала один столбец, содержащий последовательность разделенных символом “;” (точка с запятой) значений всех столбцов этой таблицы; при этом текстовые значения должны отображаться прописными символами (верхний регистр), т. е. быть представленными в следующем виде:

`10;КУЗНЕЦОВ;БОРИС;0;БРЯНСК; 8.12.1987;10`.

2. Составьте запрос для таблицы STUDENT таким образом, чтобы 
выходная таблица содержала всего один столбец в следующем виде: 

`Б.КУЗНЕЦОВ; место жительства - БРЯНСК; родился - 8.12.87`.

3. Составьте запрос для таблицы STUDENT таким образом, чтобы выходная таблица содержала всего один столбец в следующем виде: 

`б.кузнецов; место жительства - брянск; родился: 8-дек-1987`.

4. Составьте запрос для таблицы STUDENT таким образом, чтобы
выходная таблица содержала всего один столбец в следующем
виде: 

`Борис Кузнецов родился в 1987 году`.

5. Составьте запрос, выводящий фамилии, имена студентов и величину получаемых ими стипендий, при этом значения стипендий должны быть увеличены в 100 раз.

6. То же, что и в упр. 4, но только для студентов 1, 2 и 4 курсов и
таким образом, чтобы фамилии и имена были выведены прописными буквами.

7. Составьте запрос для таблицы UNIVERSITY таким образом, чтобы выходная таблица содержала всего один столбец в следующем виде: 

`Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296`.

8. То же, что и в упр. 7, но значения рейтинга требуется округлить до первого знака (например, значение 382 округляется до 400).

<PRE>
Федеральное государственное образовательное бюджетное учреждение высшего образования
           Финансовый университет при Правительстве Российской Федерации
                             (Финансовый университет)

                 Департамент анализа данных и машинного обучения

               Дисциплина «Программирование на языках Python и SQL»
</Pre>

19 марта 2021 года<br>
ПИ19-3, ПИ19-4 - 3 подгруппа

20 марта 2021 года<br>
ПИ19-2, ПИ19-3, ПИ19-4 - 2 подгруппа

26 марта 2021 года<br>
ПИ19-4, ПИ19-5 - 4 подгруппа

Источники

<a href="./Doc/SQL(упражнение №5).pdf">Учебное пособие. 2.5. - 2.7. Пустые значения (NULL) в агрегирующих функциях</a>

<a href="./Doc/SQL(упражнение №6).pdf">Учебное пособие. 2.8. - 2.10. Вложенные подзапросы</a>

<a href="./Doc/SQL(упражнение №7).pdf">Учебное пособие. 2.11. Использование оператора EXISTS</a>

<a href="./Doc/SQL(упражнение №8).pdf">Учебное пособие. 2.12. Операторы сравнения с множеством значений IN, ANY, ALL</a>

### Контрольные вопросы

21. Предположим, что стипендия всем студентам увеличена на 20%. Напишите запрос к таблице STUDENT, выполняющий вывод номера студента, фамилию студента и величину увеличенной стипендии. Выходные данные упорядочить: <br>
а) по значению послед него столбца (величине стипендии); <br>
б) в алфавитном порядке фамилий студентов.


22. Напишите запрос, который по таблице EXAM_MARKS позволяет найти а) максимальные и б) минимальные оценки каждого студента и выводит их вместе с идентификатором студента.


23. Напишите запрос, выполняющий вывод списка предметов обучения в порядке а) убывания семестров и б) возрастания количества отводимых на предмет часов. Поле семестра в выходных данных должно быть первым, за ним должны следовать имя предмета обучения и идентификатор предмета.


24. Напишите запрос, который для каждой даты сдачи экзаменов выполняет вывод суммы баллов всех студентов и представляет результаты в порядке убывания этих сумм.


25. Напишите запрос, который для каждой даты сдачи экзаменов выполняет вывод а) среднего, б) минимального, в) максимального баллов всех студентов и представляет результаты в порядке убывания этих значений.


26. Напишите запрос, выводящий список студентов, получающих максимальную стипендию, отсортировав его в алфавитном порядке по фамилиям.


27. Напишите запрос, выводящий список студентов, получающих стипендию, превышающую среднее значение стипендии.


28. Напишите запрос, выводящий список студентов, обучающихся в Воронеже, с последующей сортировкой по идентификаторам университетов и курсам.


29. Напишите запрос, выводящий список предметов, на изучение которых отведено максимальное количество часов.


30. Напишите запрос, выполняющий вывод имен и фамилий студентов, место проживания которых не совпадает с городом, в котором находится их университет.


31. Напишите запрос, выводящий список университетов, расположенных в Москве и имеющих рейтинг меньший, чем у ВГУ.


32. Напишите запрос для получения списка студентов, которые учатся в своем городе.


33. Напишите запрос для получения списка иногородних студентов (обучающихся не в своем городе), с последующей сортировкой по идентификаторам университетов и курсам.


34. Напишите запрос для получения списка преподавателей, работающих не в своем городе, с последующей сортировкой по идентификаторам университетов и городам проживания преподавателей.


35. Напишите запрос для получения списка предметов, на изучение которых отведено максимальное количество часов среди всех предметов, изучаемых в том же семестре. Список упорядочить по семестрам.


36. Напишите запрос для получения списка студентов, получающих стипендию, превосходящую среднее значение стипендии на их курсе.


37. Напишите запрос для получения списка студентов, получающих минимальную стипендию в своем университете, с последующей сортировкой по значениям идентификатора университета и стипендии.


38. Напишите запрос для получения списка университетов, в которых учится более 50 студентов, с последующей сортировкой по рейтингам.


39. Напишите запрос для получения списка университетов, в которых работает более 5 преподавателей, с последующей сортировкой по рейтингам университетов.


40. Напишите запрос для получения списка отличников (студентов, получивших только отличные оценки), с последующей сортировкой по идентификаторам университетов и курсам.


41. Напишите запрос для получения списка неуспевающих студентов (получивших хотя бы одну неудовлетворительную оценку), с последующей сортировкой по идентификаторам университетов и курсам.


42. Напишите запрос, выполняющий вывод списка студентов, средняя оценка которых превышает 4 балла.


43. Напишите запрос, выполняющий вывод списка фамилий студентов, имеющих только отличные оценки и проживающих в городе, не совпадающем с городом их университета.


44. Напишите запрос с подзапросом для получения всех оценок студента с фамилией Иванов. Предположим, что его персональный номер неизвестен. Всегда ли такой запрос будет корректным?


45. Напишите запрос, выбирающий имена всех студентов, имеющих по предмету c идентификатором 101 балл выше общего среднего балла.


46. Напишите запрос, который выполняет выборку имен всех студентов, имеющих по предмету c идентификатором 102 балл ниже общего среднего балла.


47. Напишите запрос, выполняющий вывод количества предметов, по которым экзаменовался каждый студент, сдававший более 20 предметов.


48. Напишите команду SELECT, использующую связанные подзапросы и выполняющую вывод имен и идентификаторов студентов, у которых стипендия совпадает с максимальным значением стипендии для города, в котором живет студент.


49. Напишите запрос, который позволяет вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают в городе, где нет ни одного университета.


50. Напишите два запроса, которые позволяют вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают не в том городе, где расположен их университет: один запрос с использованием связанного подзапроса, а другой — с использованием соединения.

51. Напишите запрос для получения списка названий предметов, изучаемых в нескольких семестрах.


52. Напишите запрос, выполняющий вывод имен и фамилий студентов, имеющих весь набор положительных (тройки, четверки и пятерки) оценок.


53. Напишите запрос, выполняющий выборку значений идентификаторов студентов, имеющих такие же оценки, что и студент с идентификатором 12.


54. Напишите запрос, выполняющий вывод количества студентов, не имеющих ни одной оценки.


55. Напишите запрос, выполняющий вывод данных о предметах обучения, которые преподает Колесников.


56. Напишите запрос, выполняющий вывод имен и фамилий преподавателей, проводящих занятия на первом курсе.


57. Напишите запрос, выполняющий вывод данных о преподавателях, ведущих обучение хотя бы по одному из предметов обучения, которые преподает Сорокин.


58. Напишите запрос, выполняющий вывод списка фамилий студентов университета, расположенного в городе, название которого стоит первым в алфавитном списке городов.


59. Напишите запрос, выполняющий вывод списка фамилий студентов, имеющих только отличные оценки и проживающих в городе, не совпадающем с городом их университета.

<PRE>
Федеральное государственное образовательное бюджетное учреждение высшего образования
           Финансовый университет при Правительстве Российской Федерации
                             (Финансовый университет)

                 Департамент анализа данных и машинного обучения

               Дисциплина «Программирование на языках Python и SQL»
</Pre>

9 апреля 2021 года<br>
ПИ19-3, ПИ19-4 - 3 подгруппа

10 апреля 2021 года <br>
ПИ19-2, ПИ19-3, ПИ19-4 - 2 подгруппа

16 апреля 2021 года<br>
ПИ19-4, ПИ19-5 - 4 подгруппа

Источники

<a href="./Doc/SQL(упражнение №8).pdf">2.12. Операторы сравнения с множеством значений IN, ANY, ALL</a>

<a href="./Doc/SQL(упражнение №9).pdf">2.15. Оператор объединения UNIOIN</a>

<a href="./Doc/SQL(упражнение №10).pdf">2.19. Соединение таблиц с использованием оператора JOIN</a>

<a href="./Doc/SQL(упражнение №11).pdf">2.19.3. Использование псевдонимов при соединении таблиц</a>

<a href="./Doc/SQL(упражнение №12).pdf">3. Манипулирование данными. 3.1. Команды манипулирования данными</a>